.contactContent{
  padding: 100px;
  width: 700px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 300px;
  color: #ff0099;
}

.footer-stick{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff0099;
  color: white;
  text-align: center;
}

@media (max-width: 450px) {
  .contactContent {
    padding: 20px;
    margin-left:  0px;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 300px;
    color: #ff0099;
  }

  .footer-stick{
    /* position: fixed;
    left: 0; */
    bottom: 0;
    width: 100%;
    background-color: #ff0099;
    color: white;
    text-align: center;
    z-index: 200;
  }
}
