.banner {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  width: 996px;
  margin-left: -45px;
}

@media (max-width: 450px) {
  .banner {
    max-height: 300px
  }
}

.playerWrapper {
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #f3f3f4;
}

.footer {
  left: 0;
  bottom: 0;
  height: 13px;
  width: 100%;
  background-color: #ff0099;
  color: white;
  text-align: center;
}