.mailwrapper {
  display: flex;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 50px; */
  margin-top: 50px;
  background-color: #f3f3f4;
}

.content{
  height: 400px;
  width: 700px;
  background-color: #f9f9fa;
}