.footer {
  height: 80px;
  width: 100%;
  color: white;
  background-color: #ff0099;
  margin-top: 20px;
  bottom: 0;
}

/* .footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
