.cardBox {
  height: 191px;
  width: 276px;
  margin: 20px;

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  background-color: "#ff0099";
  opacity: 0.4;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
}

.title{
  color: white;
  margin: 0;
  font-size: 20px;
  margin-bottom: 50px;
}